---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
  title="About | Breda Marmolejo"
  description="About Brenda Marmolejo"
>
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="About"
        tagline="Thanks for stopping by. Read below to learn more about myself and my background."
      >
        <img
          width="1553"
          height="873"
          src="/assets/at-work.jpg"
          alt="Brenda Marmolejo Picture"
        />
      </Hero>

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p>
            I am a driven and detail-oriented professional with over 15 years of
            experience as an Engineering Consultant across various industries in
            North and South America. 
          </p>
		  <p>
			My journey into software engineering stems
            from a passion for logical thinking, problem-solving, and the
            potential to create innovative solutions that make a difference.
            Transitioning into software engineering was a natural progression
            for me. 
		  </p>
		  <p>
			My diverse background, which includes a Masters Degree in
            Quality Safety and Environment and a Bachelor's degree in Chemical
            Engineering, has equipped me with a strong analytical and technical
            foundation. As an e-commerce entrepreneur, I've honed my skills in
            project management and strategic planning, ensuring a multifaceted
            approach to challenges and opportunities in the digital landscape.
		  </p>
		  <p>
			I am passionate about artificial intelligence, data science, ethical
            consumerism, social justice, and the wine industry. My goal is to
            impact these fields by creating solutions that promote responsible
            consumerism, empower communities, and enhance user experiences. I
            believe that technology, when used thoughtfully, can drive positive
            change and make a significant impact on society.
        </div>
      </section>
      <section>
        <h2 class="section-title">Education</h2>
        <div class="content">
          <p>Software Engineering Diploma at Brainstation.</p>
		  <p>MSc in Quality, Safety and Environment at University of Magdeburg.</p>
          <p>Chemical Engineering Degree at Tecnológico de Monterrey.</p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Skills</h2>
        <div class="content">
          <p>HTML, CSS, JavaScript, Node, React, Express, MySQL, Agile Development, Document Object Model (DOM) APIs,
			Web APIs, User Authentication, OAuth, Heroku, GitHub, Jest. </p>
		</p>	
			eCommerce: Product sourcing, SEO Optimization, Pricing Strategy, B2B & B2C Customer Experience, Online Marketplaces Sales & Operation, Website Management & Conversion Analysis, Domestic & International Shipping, Cost Analysis, Inventory Management, Digital Marketing, Branding.</p>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
	text-align: justify;
  }

  .content p {
  margin-bottom: 1rem;
}

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
